# Runtime requirements
--requirement requirements.txt

# Testing
pytest==6.2.4
py==1.8.2
mock==1.0.1

# Linting
flake8==2.1.0
mccabe==0.2.1
pep8==1.7.1
pyflakes==2.3.1

# Documentation
Sphinx==1.2
docutils==0.11
Jinja2==2.7.1
MarkupSafe
Pygments==1.6

# Miscellaneous
Paver==1.2.1
colorama==0.2.7
